---
Checks:          'clang-diagnostic-*,clang-analyzer-*,readability-identifier-naming,performance-*,modernize-use-default-member-init,readability-redundant-member-init,modernize-make-shared,modernize-make-unique,modernize-use-bool-literals,modernize-return-braced-init-list,modernize-use-emplace,modernize-use-noexcept,modernize-use-nodiscard,modernize-use-nullptr,modernize-use-override,modernize-use-auto,modernize-use-ranges,modernize-shrink-to-fit,modernize-use-starts-ends-with,modernize-use-uncaught-exceptions,modernize-use-using,modernize-use-transparent-functors,modernize-loop-convert,modernize-concat-nested-namespaces,-readability-identifier-naming,-performance-enum-size'
WarningsAsErrors: ''
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - cpp
HeaderFilterRegex: '/include/PAF/'
FormatStyle:     file
CheckOptions:
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ClassMethodCase: 'camelBack'
  readability-identifier-naming.MemberCase: 'camelBack'
  readability-identifier-naming.MethodCase: 'camelBack'
  readability-identifier-naming.VirtualMethodCase: 'camelBack'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.EnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.ScopedEnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.MacroDefinitionCase: 'UPPER_CASE'
  readability-identifier-naming.ClassConstantCase: 'UPPER_CASE'
  readability-identifier-naming.NamespaceCase: 'CamelCase'
SystemHeaders:   false
...
