---
Checks:          'clang-diagnostic-*,clang-analyzer-*,readability-identifier-naming'
WarningsAsErrors: ''
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - cpp
HeaderFilterRegex: '/include/PAF/'
FormatStyle:     file
CheckOptions:
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ClassMethodCase: 'camelBack'
  readability-identifier-naming.MemberCase: 'camelBack'
  readability-identifier-naming.MethodCase: 'camelBack'
  readability-identifier-naming.VirtualMethodCase: 'camelBack'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.EnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.ScopedEnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.MacroDefinitionCase: 'UPPER_CASE'
  readability-identifier-naming.ClassConstantCase: 'UPPER_CASE'
  readability-identifier-naming.NamespaceCase: 'CamelCase'
SystemHeaders:   false
...
